Django==1.7.2
Markdown==2.5.2
SQLAlchemy==0.9.8
certifi==14.05.14
defusedxml==0.4.1
dj-database-url==0.3.0
dj-static==0.0.6
django-allauth==0.19.0
django-filter==0.9.1
django-postgrespool==0.3.0
django-toolbelt==0.0.1
djangorestframework==3.0.2
gunicorn==19.1.1
oauthlib==0.7.2
psycopg2==2.5.4
python3-openid==3.0.5
requests==2.5.0
requests-oauthlib==0.4.2
selenium==2.44.0
static3==0.5.1
tornado==4.0.2
