{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>AceScrum | Simple Agile Development</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'board/vendor/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'board/css/board.css' %}">
		
        <script type="text/html" id="home-template">
			<h2>Your Sprints</h2>
            <hr class="sprint-page">
			            <button class="add-sprint" type="submit">Add Sprint</button>
            <% if (sprints !== null) { %>
                <div class="sprints">
                    <% _.each(sprints.models, function (sprint) { %>
                        <a href="#sprint/<%- sprint.get('id') %>" class="sprint">
                            <%- sprint.get('name') %> <br>
                            <span>Due by <%- sprint.get('end') %></span>
                        </a>
                    <% }); %>
                </div>
            <% } else { %>
                <h3 class="loading">Loading...</h3>
            <% } %>
        </script>
        
        <script type="text/html" id="login-template">
        <h1>Welcome to AceScrum</h1>
        <hr class="front-page">
        <h3>A minimalist Agile development app</h3>
            <form action="" method="post">
                <label for="id_username">Username</label>
                <input id="id_username" type="text" name="username" maxlength="30" required />
                <label for="id_password">Password</label>
                <input id="id_password" type="password" name="password" required />
                <button type="submit">Login</button>
            </form>
        <hr class="front-page">
        <h5>This is currently a closed beta. If you would like access, please <a href="http://acecodes.net/contact/" target="_blank">contact me</a>.</h5>
        </script>

        <script type="text/html" id="header-template">
            <span class="title"><a href="/">AceScrum</a></span>
            <% if (authenticated ) { %>
                <nav>
                    <a href="/" class="button">Your Sprints</a>
                    <a href="#" class="logout button">Logout</a>
                    <a href="https://github.com/acecodes/acescrum" class="button">GitHub</a>
                </nav>
            <% } %>
        </script>

        <script type="text/html" id="new-sprint-template">
            <form action="" method="post">
                <label for="id_name">Sprint Name</label>
                <input id="id_name" type="text" name="name" maxlength="100" required />
                <label for="id_end">End Date</label>
                <input id="id_end" type="date" name="end" />
                <label for="id_description">Description</label>
                <textarea id="id_description" name="description" cols="50"></textarea>
                <button class="cancel">Cancel</button>
                <button type="submit">Create</button>
            </form>
        </script>

        <script type="text/html" id="sprint-template">
            <% if (sprint !== null) { %>
                <% if (!sprint.invalid) { %>
                    <h2><%- sprint.get('name') %></h2>
                    <span class="due-date">Due: <b>
                    <%- sprint.get('end') %></b></span>
                    <hr class="sprints">
                    <p class="description"><%- sprint.get('description') %></p>
                                        <hr class="sprints">
                    <div class="tasks"></div>
                    <h3>
                <% } else { %>
                    <h1>Sprint <%- sprint.get('id') %> not found.</h1>
                <% } %>
            <% } else { %>
                <h1 class="loading">Loading...</h1>
            <% } %>
        </script>

        <script type="text/html" id="status-template">
        	<div class="status-title"><h4><%- title %></h4></div>
        	<div class="list"></div>
        	<% if (sprint === null) { %>
        		<button class="add-task" type="submit">Add Task</button>
        	<% } %>
        </script>

        <script type="text/html" id="new-task-template">
        <hr class="tasks">
            <form class="add-task" action="" method="post">
                <label for="id_name">Task Name</label>
                <input id="id_name" type="text" name="name" maxlength="100" required />
                <label for="id_description">Description</label>
                <textarea id="id_description" name="description"></textarea>
                <button class="create" type="submit">Create</button>
                <button class="cancel" type="submit">Cancel</button>
            </form>
        </script>

        <script type="text/html" id="task-item-template">
            <div class="task-item"><%- task.get('name') %></div>
        </script>

        <script type="text/html" id="task-detail-template">
            <div data-field="name" class="name" contenteditable="true">
                <%- task.get('name') %>
            </div>
            <div data-field="description" class="description" contenteditable="true">
                <%- task.get('description') %>
            </div>
            <div class="with-label">
                <div class="label">Due:</div>
                <div data-field="due" class="due date" contenteditable="true">
                    <%- task.get('due') || empty %>
                </div>
            <div class="with-label">
                <div class="label">Assigned To:</div>
                <div data-field="assigned" class="assigned" contenteditable="true">
                    <%- task.get('assigned') || empty %>
                </div>
            </div>
            <form>
                <button class="cancel" type="submit">Close</button>
                <button class="save" hidden type="submit">Save</button>
            </form>
        </script>

	</head>
	<body>
        <div class="container" id="content"></div>
        
        <script src="{% static 'board/vendor/jquery.js' %}"></script>
        <script src="{% static 'board/vendor/underscore.js' %}"></script>
        <script src="{% static 'board/vendor/backbone.js' %}"></script>
        <script id="config" type="text/json">
            {
                "models": {},
                "collections": {},
                "views": {},
                "router": null,
                "apiRoot": "{% url 'api-root' %}",
                "apiLogin": "{% url 'api-token' %}"
            }
        </script>
        <script src="{% static 'board/js/app.js' %}"></script>
        <script src="{% static 'board/js/models.js' %}"></script>
        <script src="{% static 'board/js/views.js' %}"></script>
        <script src="{% static 'board/js/router.js' %}"></script>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47494721-12', 'auto');
  ga('send', 'pageview');

</script>

	</body>
</html>



