@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
/* Generic
==================== */
body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
a:visited {
    color: black;
}
button, a.button {
    font-size: 13px;
    padding: 5px 8px;
    border: 1px solid #222;
    background-color: #FFF;
    color: #222;
    transition: background 200ms ease-out;
}
button:hover, a.button:hover {
    background-color: #A4C8F0;
    border: 1px solid #03142F;
    color: #03142F;
}
input, textarea {
    background: white;
    font-family: inherit;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 18px;
    margin: 10px 0 16px 0;
    padding: 10px;
}
input {
    text-align: center;
}
input#id_name, input#id_end, input#id_description {
    margin: 3% auto 3% auto;
}
#content {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
.hide {
    display: none;
}
.error {
    color: #cd0000;
    margin: 8px 0;
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
h3 {
    color: rgb(40, 75, 121);
}
hr.front-page {
    margin: 0px 40% 0 40%;
}
hr.sprints {
    margin: 2% 40% 2% 40%;
}
hr.tasks {
    margin: 10% 20% 2% 20%;
}
form {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

/* Header
==================== */
header {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #CCC;
}
header .title {
    font-weight: 900;
    padding-left: 25px;
}
header .github {
    display: inline-block;
    float: right;
    padding-right: 25px;
}
header nav {
    display: inline-block;
    float: right;
    padding-right: 25px;
}
header nav a {
    margin-left: 8px;
}
header nav a:hover {
    background: #222;
    color: #FFF;
}

/* Login
==================== */
#login {
    width: 100%;
}
#login form {
    width: 300px;
    margin: 0 auto;
    padding: 25px;
}
#login form input {
    margin-bottom: 15px;
}
#login form label, #login form input {
    display: block;
}
input#id_username, input#id_password {
    margin: 3% auto 3% auto;
}

/* Sprint Listing
==================== */
.sprints {
    margin-top: 25px;
    text-align: center;
}
.sprints a.sprint {
    padding: 25px;
    text-align: center;
    background: #1A3867;
    margin: 8px 8px 0 0;
    color: #FFF;
    transition: background 200ms ease-out;
    display: inline-block;
    width: 20%;
    font-size: 2em;
}
.sprints a.sprint:hover {
    background: #03142F;
}
.sprints a.sprint span {
    font-size: 0.5em;
}
.new-sprint {
    border: 1px solid #CCC;
    padding: 2%;
    width: 55%;
    margin: auto;
}

/* Tasks
==================== */
.tasks {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    align-items: strech;
}
.tasks .status {
    background: #F5F5F5;
    border: 1px solid #CCC;
    padding: 0 10px 15px 10px;
    width: 20%;
    text-align: center;
}
.tasks .status input, .tasks .status textarea, .tasks .status input#id_name {
    margin: 5% auto 5% auto;
    width: 90%;
}
.tasks .status form {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.tasks .status label {
    text-align: center;
}
.tasks .status form.add-task {
    margin-top: 10%;
}
.tasks .status .list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;

    align-items: strech;
    margin-bottom: 10%;
    margin-top:5%;
    background:white;
    border:1px #CDC7C7 solid;
}
.task-detail input, .task-detail textarea {
    width: 90%;
}
.tasks .task-item {
    width: 100%;
    margin: 5px 0;
    padding: 3px;
}

/* Task Detail
==================== */
.task-detail {
    width: 100%;
    margin: 5px 0;
    background-color: #FFF;
    padding: 8px;
    border-bottom:1px #CDC7C7 solid;;
}
.task-detail div {
    margin-bottom: 10px;
}
.task-detail .name, .task-detail .description {
    border-bottom: 1px dotted #333;
}
.task-detail
display: display:display:display:display:
}
.with-label {
-webkit-box;
-moz-box;
-ms-flexbox;
-webkit-flex;
flex;
}
[contenteditable=true]:hover {
    background: #EEE;
}
[contenteditable=true]:focus {
    background: #FFF;
}

* .label { color:black; }

.status-title {
    background: white;
    width: 100%;
    padding: 2%;
    margin-top: 4%;
    border:1px #CDC7C7 solid;
}

p.description {
    font-size:1.5em;
}